body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}

#container {
   
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    border: gainsboro solid, 1px;
    align-items: center;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    padding: 20px;

} 


    


button {
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px;
    
}

.choiceDisplays {
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    font-size: 18px;


}

#outcomeDisplay {
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    display: flex;

}

#computerScore, #playerScore {
    height: 10px;
}

